.article {
  box-sizing: border-box;
  width: 80%;
  color: var(--main-font-color);
}

.article h1 {
  font-size: var(--article-biggest-font-size);
}
.article h2 {
  font-size: var(--article-big-font-size);
}
.article p,
li,
code,
table {
  font-size: var(--article-smaller-font-size);
}

.article pre {
  background: var(--main-bg-color);
  padding: 30px;
  border-radius: var(--main-border-radius);
}
.article code {
  color: white;
}
.link {
  composes: link from "../App.css";
}

.container {
  margin: 2% 5%;
}

.preview {
  composes: flex-center from "../App.css";
  padding: 30px 0;
  background: var(--main-theme-linen);
  border-radius: var(--main-border-radius);
}
