.init {
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
  color: inherit;
}
.ul {
  composes: init;
  list-style: none;
}
/*flex - horizontal - vertical*/
.flex{
  display: flex;
}
.flex-between {
  composes: flex;
  justify-content: space-between;
}
.flex-between-center {
  composes: flex-between;
  align-items: center;
}
.flex-center {
  composes: flex;
  justify-content: center;
}
